<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Usuários</h1>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.nome }}</td>
                    <td>
                        <a href="/usuarios/{{ usuario.id }}/editar" class="btn btn-editar">Editar</a>
                        <a href="/usuarios/{{ usuario.id }}/excluir" class="btn btn-excluir">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
         <a href="/cadastro" class="btn btn-novo">Novo Usuário</a>
         <a href="/" class="btn btn-novo">Menu Principal</a>
    </div>
</body>
</html>