<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <main>
        <div class="container">
            <h1>Login</h1>
            {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
            {% endif %}
            <form action="/login" method="post">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" placeholder="Nome de usuário" required><br><br>
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" placeholder="Senha" required><br><br>
                <input type="submit" value="Entrar">
            </form>
            <p>Não tem uma conta? <a href="/login">Solicite acesso ao Administrador</a></p>
        </div>
    </main>
</body>
</html>